<!DOCTYPE html>
<html>
    <head>
        <title>user-profile</title>
    </head>
    <body>
        <div class="bg">
         <div class="container">
            <form>
                <h1 style="font-size: 25PX; font-family: sansarif">USER PROFILE</h1>
                <div class="form-row mt-5">
                    <div class="form-group col-md-6 ">
                      <label class="form-group">FirstName</label>
                      <input type="FirstName" class="form-control" id="inputEmail4" placeholder="FirstName">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-group">LastName</label>
                      <input type="LastName" class="form-control" id="inputPassword4" placeholder="LastName">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-group">FatherName</label>         
                    <input type="text" class="form-control input-sm" id="inputsm" placeholder="FatherName">
                  </div>
                  <div class="form-group">
                    <label class="form-group">AddressLine 1</label>         
                    <input type="text" class="form-control input-sm" id="inputsm" placeholder="AddressLine 1">
                    <span>D.no,Street Name, area,panchayathi </span>
                  </div>
                  <div class="form-group">
                    <label class="form-group">AddressLine 2</label>         
                    <input type="text" class="form-control input-sm" id="inputsm" placeholder="AddressLine 2">
                    <span>D.no,Street Name, area,panchayathi </span>
                  </div>
                    <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="inputCity">
                              </div>
                              <div class="form-group col-md-4">
                                <label for="inputState">State</label>
                                <select id="inputState" class="form-control">
                                  <option selected>Choose...</option>
                                  <option value="1">Andhra Pradesh</option>
                                  <option value="2">Arunachala Pradesh</option>
                                  <option value="3">Assam</option>
                                  <option value="4">Bihar</option>
                                  <option value="5">Telangana</option>
                                  <option value="6">Madhya Pradesh</option>
                                  <option value="7">Maharastra</option>
                                  <option value="8">TamilNadu</option>
                                </select>
                              </div>
                              <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input type="text" class="form-control" id="inputZip">
                              </div>
                          
                                <div class="form-group col-md-6 ">
                                  <label class="form-group">Mobile</label>
                                  <input type="FirstName" class="form-control" id="inputEmail4" placeholder="Mobile">
                                </div>
                                <div class="form-group col-md-6">
                                  <label class="form-group">Landphone</label>
                                  <input type="LastName" class="form-control" id="inputPassword4" placeholder="Landphone">
                                </div> 
                              
                                </div>
                                
                                  <label class="form-group">Gender</label>
                                  <div class="row ml-2">
                                <div class="form-check col-md-6 col-12">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <label class="form-check-label" for="flexCheckDefault">
                                    Male
                                  </label>
                                </div>
                                <div class="form-check  col-md-6 col-12">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                  <label class="form-check-label" for="flexCheckChecked">
                                    Female
                                  </label>
                                </div>
                           </div>    
            </form>
         </div>  
        </div>
    </body>
</html>