<!DOCTYPE html>

<html>
   <head>
     
      <title>Confirm Password Check | CodingNepal</title>
      

   </head>
   <body>
      <div class="container">

        <div class="aaa">
         <form class="#">

          <h3 style="text-align:center">Register Page</h3>
          <br>
          <div class="row">
		
            <div class="field col-lg-6 col-md-6 col-6">
              <input  class="form-control" type="text" placeholder="Firstname" formControlName="Firstname" name="Firstname">
               
              </div> 
			 
            <div class="field col-lg-6 col-md-6 col-6">
               <input class="form-control"  type="text" placeholder="Enter Lastname">
            </div>
             </div><br>
		    <div class="error-text"></div>
            <div class="field">
               <input class="form-control"  type="text" placeholder="Enter Email">
            </div><br>
            <div class="error-text"></div>
            <div class="field">
               <input class="form-control"  id="pswrd_1" type="password" placeholder="Enter Password">
            </div><br>
            <div class="field">
               <input class="form-control"  id="pswrd_2"  type="password" placeholder="Confirm Password">
              
            </div>
			<br>
      
            <button type="submit" class="btn btn-primary"  value="Submit">submit</button>
          <br>
            <h6 style="size: 10px; text-align: center;">Already a User?<a href="url">Login</a></h6>
                              
         </form>
         </div>
      </div>
      
   </body>
</html>