<!DOCTYPE html>
<html>
    <head>
        <title>SOCIAL SERVICE</title>
    </head>
    <body class="bg">
       <div class="container">
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">REGISTER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LOGIN</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">DETAILS</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#">SERVICES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CONTACT US</a>
            </li>
          </ul>
          <div class="text-right">
            <h1>HELPING HANDS</h1>
            <h6>USE IN YOUR FREE TIME</h6>
          </div>
       
       </div>
    </body>
</html>
